
<!--Footer-->
<footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row footer-div">
  
          <div class="col-lg-4 col-md-7 footer-contact">
            <h3>Supply Chain For Biofuels</h3>
            <p style="text-align: left;">
              <strong>Batch:</strong>J30<br>
              <strong>Phone:</strong> +91 9356719065<br>
              
              <strong>Email:</strong>suplychainbiofuelgmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-7 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About-Us</a></li>
              
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact</a></li>
             
            </ul>
          </div>
  
  
          <div class="col-lg-2 col-md-7 footer-newsletter">
            <h4>Our Services..</h4>
           <p style="text-align: left;">Transport Service<br><br>Vehicle Booking<br><br>
                Load and Unload Goods <br><br>Delivery
          </p>
          </div>

          <div class="col-lg-4 col-md-7 footer-links">
            <h4>Top Cities Where we Work</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i>Pune</li>
              <li><i class="bx bx-chevron-right"></i> Mumbai</li>
              
              <li><i class="bx bx-chevron-right"></i>Nashik</li>
             
            </ul>
          </div>
  
  
  
        </div>
      </div>
    </div>
  
    <!-- <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Designed by <a href="#">Ganesh Ghuge, vaibhav chopade, arti kabade , rohit wakade(Batch J30) </a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:24px"></i></a>
        <a href="#" class="WhatsApp"><i class="fa fa-whatsapp" style="font-size:24px"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
      </div>
    </div> -->
  </footer><!-- End Footer -->

