<div>
  <nav class="navbar" style="background-color: rgb(73, 0, 128);">
    <a class="brand" routerLink="/home">Supply Chain for Biofuels
      <!-- <img src="path_to_your_logo.png" alt="Logo" /> -->
    </a>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/service">Our Services</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>

      <!-- Add the login dropdown -->
      <li class="dropdown" id="loginDropdown">
        <a href="javascript:void(0)" class="dropbtn" routerLink="">Feature</a>
        <div class="dropdown-content">
          <a routerLink="/raw">Supplier</a>
          <a routerLink="/product">Distributor</a>
          <!-- Add more login options as needed -->
        </div>
      </li>
    </ul>
  </nav>
</div>

<script>
  // Use "mouseover" and "mouseout" events on the parent li to handle dropdown visibility
  document.getElementById("loginDropdown").addEventListener("mouseover", function() {
    this.querySelector(".dropdown-content").classList.add("active");
  });

  document.getElementById("loginDropdown").addEventListener("mouseout", function() {
    this.querySelector(".dropdown-content").classList.remove("active");
  });
</script>





<section class="headline">
  <h2 class="h1 hero-title">
    <span class="span">Powering Every</span> Direction
  </h2>
  <p class="hero-text">
    Unleash the potential of biofuel, offering sustainable energy solutions in every corner. While there are various passages of Lorem Ipsum available, biofuel stands out as a majority choice for a cleaner and greener future.
  </p>
  </section>
  <section class="features">
    <div class="feature-container">
      <img src="assets\img\blog.jpg" alt="Flexbox Feature">
      <h2>Manage Easily</h2>
      <p>Account for all your past, present and future shipments in one place.</p>
    </div>
    <div class="feature-container">
      <img src="assets\img\raw.jpg" alt="Flexbox Feature">
      <h2>Pickup</h2>
      <p>Real time Pickup of raw material from anywhere, anytime.</p>
    </div>
    <div class="feature-container">
      <img src="assets\img\truck.jpg" alt="Flexbox Feature">
      <h2>Delivery</h2>
      <p>Quick and hassle-free online payments are our thing. No hidden costs.</p>
    </div>
  </section>

<!--work-->
<br><br>

