
<header class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo/Brand -->
        <a class="navbar-brand" href="">
            <!-- <img src="path_to_your_logo.png" alt="Logo" width="40" height="40" class="mr-2">
            Raw Material Store -->
            <h1>Distributor</h1>
        </a>
        <button (click)="distributorHome()" class="btn btn-info" style="margin-left: 10px">Home</button>
          <button (click)="addProduct()" class="btn btn-info" style="margin-left: 10px">Add Product</button>
          <!-- <button (click)="addSupplier()" class="btn btn-info" style="margin-left: 10px">Add Supplier</button> -->
          <button (click)="distributorList()" class="btn btn-info" style="margin-left: 10px">Distributor List</button>
          <!-- <button (click)="productList()" class="btn btn-info" style="margin-left: 10px">Product List</button> -->
          <!-- <button (click)="companymaterialList()" class="btn btn-info" style="margin-left: 10px">CompanyMaterial List</button>
         -->



        <!-- Right-aligned items -->
        <div class="ml-auto">
            <!-- Logout Button -->
            <button class="btn btn-primary" onclick="logout()">Logout</button>
        </div>
    </div>
</header>


