.navbar {
    background-color: #2c3e50; /* Background color */
    color: #ffffff; /* Text color */
}

.navbar-brand img {
    border-radius: 50%; /* Round corners for the logo */
}

.btn-primary {
    background-color: #3498db; /* Button background color */
    border-color: #3498db; /* Button border color */
}

.btn-primary:hover {
    background-color: #2980b9; /* Button background color on hover */
    border-color: #2980b9; /* Button border color on hover */
}
